.operation_item {
  background-color: #fdfdfd;
  margin: 20px 10px;
  text-align: center;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.operation_item h1,
i {
  flex: 1;
}
.operation_item i {
  font-size: 1.5rem;
}

@media (max-width: 500px) {
  .operation_item {
    flex-direction: column;
  }
}
